div{
    height: 140px;
    width: 140px;
    background-color: #4dff00ff;
    margin: 0 auto;
    margin-top: 400px;
    transition: border-radius 2s ease-in-out 0.2s;
}

div:hover{
    /* margin-top: 400px; */
    background-color: pink;
    border-radius: 50%;
}