*{
    text-align: center;
    font-family: Georgia;
    color: brown;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
h3{
    color: black;
}
h1{
    color: red;
    letter-spacing: 2px;
    /* text-decoration: line-through; */
}
p{
    line-height: 30px;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000;
}
span{
    text-decoration: underline;
}